/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.menufixed{ z-index: 999; position: fixed; top: 0px; width: 100%;}
.row.content {height:1500px}
    
/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
    width: 15%;
}




.col-sm-9{
    /* left: 15%; */
    width: 85%;
    /*top:50px;*/
   
}  

.block{
    padding: 5%;
    background-color: #4F4F4F;
} 
/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {height: auto;} 
    .affix{
        width: 100%;
        z-index: 9999 !important;
    }
    .col-sm-9{
        top:100px;
        left: 0%;   
        width: 100%;
    }  
}